body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

p {
  margin-bottom: .5em;
}

a {
  color: #000088;
  text-decoration: none;
}

a:hover {
  color: #0000cc;
}

section {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: .5em;
}

footer {
  text-align: center;
}
